<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add post/posty</title>
</head>
<body>
    <form action="{{  url_for('post_update) }}" method="POST">
        <div><input type="text" name="photo_url" value="{{ post.photo_url }}" /></div>
        <div><input type="text" name="name" value="{{ post.name }}" /></div>

        <div><textarea name="body" cols="30" rows="10" value="{{ post.body }}" /></textarea></div>
        <div><input type="submit" value="Edit"></div>

    </form>

</body>
</html>
